<h1>- Live Chat -</h1>

<div class="container-usersQuantity">
    <img src="imgs/user.png" alt="Ãcono de usuario">
    <span id="usersQuantity">0</span>
</div>

<div class="container-messages">
    {{!-- Mensajes --}}
</div>

<div class="container-chatbox">
    <input id="chatBox" type="text" maxlength="100" placeholder="Escribe un mensaje... (hasta 100 caracteres)">
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.socket.io/4.7.4/socket.io.min.js"></script>
<script src="js/main.js"></script>