<h1>- Live Chat -</h1>

<div class="container-both">
    <div class="container-chatbox">
        <input id="chatBox" type="text" maxlength="100" placeholder="Escribe un mensaje... (máx. 100 caracteres)">
    </div>
    <div class="container-usersQuantity">
        <p>Usuarios conectados: <span id="usersQuantity">0</span></p>
    </div>

    <div class="container-messages">
        <div>
            {{!-- Mensajes --}}
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.socket.io/4.7.4/socket.io.min.js"></script>
<script src="js/main.js"></script>